

//colors

$error_color:              #e3302c;

$primary_color:            #0e3399;
$primary_color_h:          darken($primary_color, 15%);
$primary_color_dark:       darken($primary_color, 30%);
$secondary_color:          grayscale($primary_color_dark);
$secondary_color_h:        lighten($secondary_color, 70%);

$button_color_primary:     darken($primary_color, 10%);
$button_color_primary_h:   darken($primary_color, 15%);

$button_color_secondary:   lighten($secondary_color, 90%);
$button_color_secondary_h: lighten($secondary_color, 80%);

$bg_color_primary:         lighten($primary_color, 70%);
$bg_color_secondary:       lighten($primary_color, 60%);

// functional color assignments

$text_color:   $secondary_color;
$link_color:   $primary_color;
$link_color_h: $primary_color_h;

// sizes & calculations

$font_size:        13px;
$font_size_big:    14px;
$font_size_small:  12px;
$font_size_tiny:   11px;

$h1_size:          20px;
$h2_size:          16px;
$h3_size:          14px;

$max_width:        99%;

$grid_cell_width:  60px;
$grid_cell_margin: 10px;
$grid_cell:        $grid_cell_width + $grid_cell_margin * 2;

$viewport_width:   960px;
$viewport_margin:  30px;
$viewport_padding: 20px;

$header_hr_height: 5px;

// mixins

@mixin base_tab() {
  display: block;
}

@mixin anchor_tab() {
  @include base_tab();

  padding: 10px 20px;
  color: $secondary_color;
  font-weight: bold;
  background: $button_color_secondary;
  text-decoration: none;

  &:hover, &.current {
    background: $button_color_secondary_h;
  }
}

@mixin action_button() {
  @include anchor_tab();
}



/* ------------------------------
  base level elements
------------------------------ */

body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  background: $bg_color_secondary;
}

.container_12 {
  padding: 0 $viewport_padding;
  position: relative;
  background: $bg_color_primary;
}

a {
  color: $link_color;
  text-decoration: none;

  &:active  { color: $link_color; }
  &:visited { color: $link_color; }
  &:hover   { color: $link_color_h; text-decoration: underline; }
}

li a.current {
  font-weight: bold;
}

.first {
  margin-left: 0 !important;
}

.last {
  margin-right: 0 !important;
}

.new {
  color: $error_color;

  &:hover,
  &:visited {
    color: darken($error_color, 20%);
  }
}

div.message {
  border-width: 1px;
  border-style: solid;
  background-position: 12px 12px;
  background-repeat: no-repeat;
  margin-bottom: $viewport_padding;
  overflow: hidden;
  border-radius: 3px;

  &.notice {
    border-color: #bbdbe0;
    background-color: #ecf9ff;
    background-image: url("/images/message_icons/info.gif");
    color: #0888c3;
  }

  &.warning {
    border-color: #e5e181;
    background-color: #fefde2;
    background-image: url("/images/message_icons/warning.gif");
    color: #666;
  }

  &.success {
    border-color: #bfde84;
    background-color: #edfbd8;
    background-image: url("/images/message_icons/success.gif");
    color: #508600;
  }

  &.alert {
    border-color: #e9c59b;
    background-color: #ffecce;
    background-image: url("/images/message_icons/error.gif");
    color: #e3302c;
  }

  p {
    padding: 10px 15px 10px 40px;
  }
}

/* ------------------------------
  header
------------------------------ */

#header-container {
  background-color: #000;
  margin-top: $viewport_margin;
  padding-top: $viewport_padding;

  h1 {
    display: block;
    font-size: 30px;
    padding: 10px 0;

    a {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    position: absolute;
    bottom: $header_hr_height;
    right: $viewport_padding;

    li {
      float: left;

      a {
        @include anchor_tab;
      }
    }
  }

  #userbar {
    position: absolute;
    top: $viewport_padding;
    right: $viewport_padding;
  }

  hr {
    width: $viewport_width + $viewport_padding * 2;
    margin: 0;
    margin-left: -$viewport_padding;
    height: $header_hr_height;
    background: $secondary_color_h;
  }
}


