
<div id= "list_left">
  <div class= "outer">
    <div class= "inner">
	  <table>
	    <% @venues.each do |venue| %>
		  <tr>
		    <td>
			  <div class= "list">
			    <h2><%= link_to venue.company_name, venue %> </h2>
				  <%= venue.city %>,<%= venue.state %> 
			  </div>
			</td>
		   </tr>
		 <% end %>
	  </table>
	</div>
  </div>
</div>
